{% extends 'back/layout.html.twig' %}

{% block title %} Modifier {{'Category'|transchoice(1)}} {% endblock %}

{% block content %}

<section class="section-padding">
    <div class="container">
        <h1>Modifier {{'Category'|transchoice(1)}}</h1>
        <div class="shape"></div>

        <div class="text-right mt-4">
            <a href="{{ path('admin_category_search') }}" class="btn btn-primary" role="button">
                <i class="fa fa-reply"></i> Retour
            </a>
        </div>
        <div class="card mt-4 mb-4">
            <div class="card-header text-center">
                <h4>Formulaire {{'Category'|transchoice(1)}}</h4>
            </div>
            <div class="card-content">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                <br>
                <button class="btn btn-primary">Modifier</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
     {{ parent() }}
    <script>
        $('.custom-file input').on('change',function(){
            var fileName = $(this).val();
            fileName = fileName.replace('C:\\fakepath\\', " ");
            $(this).next('.custom-file-label').html(fileName);
        });
    </script>
{% endblock %}