<footer>
	<div class="footer-top mt-5">
		<div class="container">
			<div class='row'>
				<div class="col-sm-4">
					 <img src="{{ asset('build/images/logo-domosystem.png')}}"alt="logo" style="width:250px">
				</div>
                <div class="col-sm-4">
                    <h2>liens utiles</h2>
                    <a href="{{ path('qui-sommes-nous') }}" class="footer-link">Qui sommes nous ?</a>
                    <a href="{{ path('references') }}" class="footer-link">Références</a>
                </div>
                <div class="col-sm-4">
					<br>
 					<a href="{{ path('contact') }}" class="footer-link">Nous contacter</a>
                    <a href="{{ path('product_all') }}" class="footer-link">Tous nos produits</a>	
                </div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<span>BHInternet - Création site internet |
			{{ "now"|date("Y") }} | <a href="{{ path('mentions-legales') }}">Références</a></span>
	</div>
</footer>
