{% extends 'front/layout.html.twig' %}

{% block title %}Domosystem - Leader français de la mesure de l'humidité
{% endblock %}
{% block description %}Qui sommes nous ?
{% endblock %}

{% block content %}

	<div class="container" style="margin-top: 115px;">
		<div id="references">
            <h1>Nos références</h1><br><br>
			<img src="{{ asset('build/images/1.jpg')}}" class="rounded" style="width:30%"/>
			<img src="{{ asset('build/images/2.jpg')}}" class="rounded" style="width:30%"/>
			<img src="{{ asset('build/images/3.jpg')}}" class="rounded" style="width:30%"/>
			<img src="{{ asset('build/images/4.jpg')}}" class="rounded" style="width:30%"/>
			<img src="{{ asset('build/images/5.jpg')}}" class="rounded" style="width:30%"/>
			<img src="{{ asset('build/images/6.jpg')}}" class="rounded" style="width:30%"/>
			<img src="{{ asset('build/images/7.jpg')}}" class="rounded" style="width:30%"/>
			<img src="{{ asset('build/images/8.jpg')}}" class="rounded" style="width:30%"/>
			<img src="{{ asset('build/images/9.jpg')}}" class="rounded" style="width:30%"/>
			<img src="{{ asset('build/images/10.jpg')}}" class="rounded" style="width:30%"/>
			<img src="{{ asset('build/images/11.jpg')}}" class="rounded" style="width:30%"/>
		</div>
	</div>

	<style>
		#references {
			background: #F7F7F9;
			border: 1px solid #EEEEEE;
			padding: 25px;
			margin: 50px 0;
            text-align: center
		}

        #references img{
            margin: 1.5%;
        }
	</style>

{% endblock %}
