{% extends 'front/layout.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block content %}
    {# ///////////////// MODAL DELETE ////////////////////#}
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Enlever un produit du panier</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              <form method="post" action="">
                    <input id="token" type="hidden" name="_token" value="">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
              </form>
            </div>
          </div>
        </div>
    </div>
    {# ///////////////// END MODAL DELETE ////////////////////#}

{# {% block banner %}
<section class="no-banner">
</section>
{% endblock %} #}


<section class="section-padding " style="background-color:#F0F3F4!important">
    <div class="container mt-5">
        <h2 class="text-center">MON PANIER</h2>
        <div class="shape mb-1"></div>

        <div class="row">
            <div class="col-md-9">
                    <div class="p-5 table-responsive mt-4 mb-4 rounded bg-white shadow" style="border-radius:20px!important">
                        <table class="table  rounded" width="100%" cellspacing="0" data-page-length='50'>
                            {# <thead >
                                <tr class="text-dark">
                                    <th class="text-dark h5">Produit</th>
                                    <th class="text-dark h5">Nom</th>
                                    <th class="text-dark h5">Prix</th>
                                    <th class="text-dark h5">Quantité</th>
                                    <th class="text-dark h5">Actions</th>
                                </tr>
                            </thead> #}
                            <tbody>
                                {% set total = 0 %}
                                {% set killo = 0 %}


                                {% for product in products %}
                                <tr>
                                    
                                    <td>
                                        <div class="thumb-cart">
                                            {% if product.object.images|length > 0 %}
                                            <a href="{{ path('product', {'id': product.object.id, 'title':product.object.title|my_url_encode}) }}"> <img src="{{ vich_uploader_asset(product.object.images.0, 'imageFile') | imagine_filter('thumb_cart') }}"
                                                alt="{{product.object.title}}" class="img-fluid"></a>
                                            {% else %}
                                            <a href="{{ path('product', {'id': product.object.id, 'title':product.object.title|my_url_encode}) }}"><img src="{{ asset('build/images/default-image.jpg') | imagine_filter('thumb_cart') }}"
                                                alt="{{product.object.title}}" class="img-fluid"></a>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                    <a href="{{ path('product', {'id': product.object.id, 'title':product.object.title|my_url_encode}) }}">
{{product.object.title}}</td></a>
                                    {# <td>
                                        {% if product.object.weight %}
                                        {{ product.object.size }} / {{ product.object.weight }}
                                        {% else %}
                                        {{ product.object.size }}
                                        {% endif %}
                                    </td> #}
                                    {% if product.object.solde > 0 %}
                                    {% set price = product.object.priceSolde*product.qtt %}
                                    {% else %}
                                    {% set price = product.object.price*product.qtt %}
                                    {% endif %}
                                    <td>{{price|number_format(2, ',', '')}} €</td>
                                    <td>
                                        <form action="{{ path('cart')}}" method="post">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="number" min=1 class="form-control" name="qtt"
                                                            value="{{product.qtt}}">
                                                        <input type="hidden" name="id" value="{{product.id}}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <button class="btn btn-red btn-block">
                                                        <i class="fas fa-sync"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                    <td><br>
                                        <a href="#" title="Supprimer" data-toggle="modal"
                                            data-target="#delete" aria-label="Supprimer" id="{{product.id}}"
                                            data-title="{{product.object.title}}"
                                            data-path="{{ path('product_delete', {'id': product.id})}}">
                                            <i class="fa fa-times" style="color:#c11823"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% set total = total + price %}
                                {% if product.object.weight %}
                                {% set killo = killo + product.object.weight.value*product.qtt %}
                                {% endif %}
                                {% else %}
                                <tr>
                                    <td colspan="6">Aucun enregistrement</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>

            <div class="col-md-3">
                <div class="row p-l-5">
                    <div class="col-12">
                        <a href="{{ path('product_all')}}" class="btn btn-primary btn-block"><i class="fas fa-reply-all"></i>
                            Liste des produits</a>
                    </div>
                    <div class="col-12">
                        <button class="btn-outline-dark text-dark p-4 w-100" 
                        style="border: 1px solid #38454e;border-radius: 3px;background-color:#F0F3F4!important;font-weight: 700;">
                           <i class="fas fa-5x fa-shopping-basket"></i><br>
                           <span class="h5">Total panier: </span><br><span class="h1"> <b>{{total|number_format(2, ',', '')}} €</b></span>
                        </button>
                    </div>
                    
                    
                    <div class="col-12">
                        {% if total > 0 %}
                        <form action="{{ path('product_information')}}" method="post">
                            <input type="hidden" name="total" value="{{total}}">
                            <button class="btn btn-red btn-block">
                                Valider votre panier <i class="fas fa-shopping-cart"></i>
                            </button>
                        </form>
                        {% endif %}
                       
                    </div>
                </div>
            </div>
        </div>
        

       
    </div>
</section>
{% endblock %}