{% extends 'front/layout.html.twig' %}

{% block title %}Vos coordonnées{% endblock %}

{% block content %}<br>
     {# {% block banner %}
        <section class="no-banner">
        </section>
    {% endblock %} #}

<div style="background-color:#f0f3f4!important">
    <section class="section-padding">
        <div class="container">
            <h1 class="text-center">Information de livraison</h1>
            <div class="shape"></div>
            <div class="row">
                {# COMMANDES #}
                <div class="col-lg-5">
                    <div class="p-2 table-responsive mt-4 mb-4 rounded bg-white shadow" style="border-radius:20px!important;overflow-x: hidden">
                        <table class="table table-striped p-5 " width="100%" cellspacing="0" data-page-length='50'>
                            <tbody>
                            <h4 class="text-dark text-center text-uppercase">votre commande <i class="fas fa-cart-arrow-down"></i></h4>
                            <hr>
                            {% set total = 0 %}
                            {% for product in products %}
                                <tr>
                                    <td>
                                        <div class="thumb-cart">
                                            {% if product.object.images|length > 0 %}
                                                <img src="{{ vich_uploader_asset(product.object.images.0, 'imageFile') | imagine_filter('thumb_cart') }}" alt="{{product.object.title}}" class="img-fluid">
                                            {% else %}
                                                <img src="{{ asset('build/images/default-image.jpg') | imagine_filter('thumb_cart') }}" alt="{{product.object.title}}" class="img-fluid">
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>{{product.object.title}}</td>
                                    {# <td>
                                        {% if product.object.weight %}
                                            {{ product.object.size }} / {{ product.object.weight }}
                                        {% else %}
                                            {{ product.object.size }}
                                        {% endif %}
                                    </td> #}
                                    {% if product.object.solde > 0 %}
                                        {% set price = product.object.priceSolde*product.qtt %}
                                    {% else %}
                                        {% set price = product.object.price*product.qtt %}
                                    {% endif %}
                                    <td>{{price|number_format(2)}} €</td>
                                    <td>
                                        {{product.qtt}}
                                    </td>
                                </tr>
                                
                            {% set total = total + price %}
                            {% else %}
                                <tr>
                                    <td colspan="6">Aucun enregistrement</td>
                                </tr>
                            {% endfor %}

                            
                            </tbody>
                        </table>
                         <div class="row">
                            <div class="col-12">
                                <span class="btn btn-red btn-block text-light text-uppercase" style="">
                                 <span class="h4 float-left"> Total:</span>
                                 <span class="h4 float-right"> {{total|number_format(2)}} €</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

                {# Ligne verticale  #}
                <div class="col-lg-2">
                    <center><span class="vertical-line" 
                    style="border-left: 2px solid #000;display: inline-block;height: 500px!important;margin: 0 20px;"></span></center>
                </div>

                {# COORDONEES #}
                <div class="col-lg-5">
                   <div class="p-2 table-responsive mt-4 mb-4 rounded bg-white shadow" style="border-radius:20px!important;overflow-x: hidden">
                       <h4 class="text-dark text-center text-uppercase">VOS coordonnées <i class="fas fa-address-card"></i></h4>
                       <hr>
                       <div class="card-text">
                            {{form_errors(form)}}
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-sm-6">{{ form_row(form.firstname) }}</div>
                                <div class="col-sm-6">{{ form_row(form.lastname) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">{{ form_row(form.email) }}</div>
                                <div class="col-sm-6">{{ form_row(form.phone) }}</div>
                            </div>
                            {{ form_row(form.address) }}
                            <div class="row">
                                <div class="col-sm-6">{{ form_row(form.zipcode) }}</div>
                                <div class="col-sm-6">{{ form_row(form.city) }}</div>
                            </div>
                            <div class="row">
                                {# <div class="col-sm-2">
                                    {{ form_row(form.code) }}
                                </div> #}
                                <div class="col-sm-12">
                                    {% set terms_link %}
                                        <a href="" target="_blank">
                                            {% trans %}Les Conditions Générales de vente{% endtrans %}
                                        </a>
                                    {% endset %}

                                    {% set cgv %}
                                            {{ '%cgv% '|trans({ '%cgv%': terms_link })|raw }}
                                    {% endset %}
                                    {{ form_errors(form.termsAccepted)}}
                                    {{form_widget(form.termsAccepted)}}
                                    <label>{{ cgv|raw }}</label>
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-red btn-block text-light text-uppercase h4" style="">
                                <span class="h4">Accéder au paiement  <i class="fas fa-angle-double-right"></i></span></button>
                            {{ form_end(form) }}
                        </div>
                    </div>

                    {# <div class="card-content">
                        <div class="card-text">
                            {{form_errors(form)}}
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-sm-6">{{ form_row(form.firstname) }}</div>
                                <div class="col-sm-6">{{ form_row(form.lastname) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">{{ form_row(form.email) }}</div>
                                <div class="col-sm-6">{{ form_row(form.phone) }}</div>
                            </div>
                            {{ form_row(form.address) }}
                            <div class="row">
                                <div class="col-sm-6">{{ form_row(form.zipcode) }}</div>
                                <div class="col-sm-6">{{ form_row(form.city) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ form_row(form.code) }}
                                </div>
                                <div class="col-sm-6">
                                    {% set terms_link %}
                                        <a href="{{ path('page_read', {'id': 3, 'title':'Conditions Générales de Vente'|my_url_encode}) }}" target="_blank">
                                            {% trans %}Les Conditions Générales de vente{% endtrans %}
                                        </a>
                                    {% endset %}

                                    {% set cgv %}
                                            {{ '%cgv% '|trans({ '%cgv%': terms_link })|raw }}
                                    {% endset %}

                                    {{ form_errors(form.termsAccepted)}}
                                    {{form_widget(form.termsAccepted)}}
                                    <label>{{ cgv|raw }}</label>
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-primary btn-block colored">Accéder au paiement</button>
                            {{ form_end(form) }}
                        </div>
                    </div> #}
                </div>
                
            </div>
        </div>
    </section>
</div>
{% endblock %}