{% extends 'front/layout.html.twig' %}

{% block title %}{{ product.title}}{% endblock %}

{% block content %}
    {% block banner %}
        <section class="banner pages read">
                <div class="middle">
                    <h1 class="text-center">{{ product.title}}</h1>
                </div>
            </div>
        </section>
    {% endblock %}

    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    {% include "front/blocks/slider-product.html.twig" %}
                </div>
                <div class="col-lg-6">
                    <div class="product-list">
                        <ul class="list-unstyled">
                            <li class="price">
                               {% if product.solde > 0 %}
                                <span><small>{% if product.weight %}{{ product.weight }}{% else %} {{ product.size }} {% endif %}</small> | <small>-{{product.solde}} % <del>{{ product.price }} €</del></small> {{product.priceSolde}} € </span>
                               {% else %}
                                    <span><small>{% if product.weight %}{{ product.weight }}{% else %} {{ product.size }} {% endif %}</small> | {{ product.price }} €</span>
                                {% endif %}
                            </li>
                            <li>
                               <p>
                                    {{  product.shortDesc|striptags('<br><p><strong><em>')|raw }}
                                </p>
                            </li>
                            <li>
                               <button class="btn btn-primary btn-block colored">
                                    <i class="fas fa-star-of-life"></i> Produit inspecté et déclaré conforme à la réglementation phytosanitaire de l’Union Européenne
                               </button>
                            </li>
                            <li>
                                {{ form_start(form) }}
                                <div class="row">
                                    <div class="col-sm-2">
                                         {{ form_row(form.quantity) }}
                                    </div>
                                    <div class="col-sm-10">
                                         <button class="btn btn-primary btn-block">
                                            Ajouter au panier <i class="fas fa-shopping-cart"></i>
                                         </button>
                                    </div>
                                </div>
                                <br>
                                {{ form_end(form) }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <a href="{{ path('product_all') }}" class="btn btn-primary btn-block">Tous nos produits</a>
        </div>
    </section>

     <section class="section-padding last">
        <div class="container">
            <h2 class="text-center">Produits similaires</h2>
            <div class="shape"></div>

            {% if products %}
                    {% include "front/blocks/product_card.html.twig" %}
            {% else %}
                <p class="text-center">Aucun produit similaire...</p>
            {% endif %}
        </div>
    </section>
{% endblock %}