{% extends 'front/layout.html.twig' %}

{% block title %}{{gamme.name}}{% endblock %}
{% block description %}{% endblock %}

{% block content %}
    {% block banner %}
        <section class="banner pages">
            <div class="container">
                <div class="middle">
                    <h1 class="text-uppercase">{{gamme.name}}</h1>
                </div>
            </div>
        </section>
    {% endblock %}
<div style="background-color:#f0f3f4">
	<nav class="navbar navbar-expand-custom navbar-mainbg">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav" style="margin: 0 auto!important;">
                {% for categoriesByGammes in categories %}
                    {# <li class="nav-item">
                        <a class="nav-link">&nbsp;|&nbsp;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"> {{categoriesByGammes.name}}</a>
                    </li> #}
                     <span class="badge bg-light text-dark m-3 pl-4 pr-4 text-uppercase h5">{{categoriesByGammes.name}}</span>
                {% endfor %}
			</ul>
		</div>
	</nav>

    <section class="section-padding">
        <div class="container">
            <div class="shape"></div>
    <div class="row align-items-stretch">
        {% for product in products %}
            {# <div class="col-md-4 mb-5">
                <a href="{{ path('product', {'id': product.id, 'title':product.title|my_url_encode}) }}">
                <div class="card_produit shadow" >
                <div class="card-footer d-flex">
                    <div class="row w-100">
                        <div class="col-md-4 float-left">
                            <span class="badge  text-light btn-red text-center p-2 m-2">
                            <span class="text-light" style="font-size:13px;font-weight: bold!important;"> {{ product.price }} € </span>
                            </span>
                        </div>
                        <div class="col-md-8 float-right m-0">
                        </div>
                    </div>
                </div>
                    <div class="top-bar">
                        </div> 
                    <div class="card-content" >
                    
                        <div class="img mt-0" style="margin-top:0px!important">
                        {% if product.images|length > 0 %}
                            <img src="{{ vich_uploader_asset(product.images.0, 'imageFile') | imagine_filter('thumb') }}" alt="{{product.title}}" class="img-fluid mt-5" style="margin-top:0px!important ; height:260px!important;width:100%!important">
                        {% else %}
                            <img src="{{ asset('build/images/default-image.jpg') | imagine_filter('thumb') }}" alt="{{product.title}}" class="img-fluid" style="margin-top:0px!important">
                        {% endif %}
                        </div>
                    </div>
                    <div class="card-description">
                        
                        <div class="title text-danger">
                            {% set title = product.title|length > 50 ? product.title|slice(0, 50) ~ '...' : product.title %}
                            {{title|striptags|raw}}
                        </div>
                    <br>
                    </div> 
                    {% set content = product.shortDesc|striptags|length > 120 ? product.shortDesc|striptags|slice(0, 120) ~ '...' : product.shortDesc %}
                    <p class="text-center ml-5"style="margin:left:10px">{{content|raw}}</p>
                    <div class="card-footer d-flex">
                        <div class="span float-right text-dark">
                        {{ product.gamme }}
                        </div>
                        <div class="span text-dark">
                        {{ product.category }}
                        </div>
                    </div>
                </div>
                </a>
            </div> #}

            <div class="col-md-3 mb-5">
            <figure class="snip1423 " >
            <div class="card-header">
            {% if product.isNewProduct == 1 %}
			    <img src="{{ asset('build/images/nouveauProduit3.png')}}" style="right:-6px;top:-6px;height:105px!important;float:right!important;position:absolute; z-inde:3;">
            {% endif %} 
            {% set laGamme = product.gamme %}
            {% if laGamme == "Bâtiment-Immobilier" %}
               <span class="p-2 text-uppercase"> Bâtiment <br>{{product.category}} </span>
            {% else %}
                {{product.gamme}} <br> {{product.category}} 
            {% endif %}
            </div>
            {% if product.images|length > 0 %}
                <img src="{{ vich_uploader_asset(product.images.0, 'imageFile') | imagine_filter('thumb') }}" alt="{{product.title}}" class="img-fluid mt-2" >
            {% else %}
                <img src="{{ asset('build/images/default-image.jpg') | imagine_filter('thumb') }}" alt="{{product.title}}">
            {% endif %}
                <figcaption>
                    {% set title = product.title|length > 20 ? product.title|slice(0, 20) ~ '...' : product.title %}
                           
                    <h3><b> {{title|striptags|raw}}</b></h3>

                    {% set content = product.shortDesc|striptags|length > 100 ? product.shortDesc|striptags|slice(0, 100) ~ '...' : product.shortDesc %}
                    <p>{{content|raw}}</p>
                    <div class="price">
                    </div>
                </figcaption>
            <a href="{{ path('product', {'id': product.id, 'title':product.title|my_url_encode}) }}"></a>
                  
            </figure>
              <a href="{{ path('product', {'id': product.id, 'title':product.title|my_url_encode}) }}"> 
              <center><h3 style="margin-top:-40px!important; position:relative!important;z-index:1!important;">
             <span class="shadow border border-white text-center badge btn-red text-ligth pl-4 pr-4 pt-2 pb-2 border "  
             style="border-radius:50px; border-color: white!important;border-style:solid!important;border-width: 5px!important;">
               <small class="text-white"> {{product.price }}€ HT</small>
              </span></h3></center></a>

        </div>
        {% endfor %}
    </div>



            <div class="pagination">
                {{ knp_pagination_render(products) }}
            </div>
        </div>
    </section>
</div>







<style>
    .card-content {
        background-color:white!important;
        margin-bottom: 0px!important;
        min-height: 0px!important;
    }
    .title{
        margin: 0 auto!important;
    }
    .card_produit .card-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .card_produit .card-content .top-bar {
        width: calc(100% - 40px);
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
    }
    .card_produit .card-content .top-bar .float-right {
        float: right;
    }
    .card_produit .card-content .img {
        width: 100%;
        justify-content: bottom;
        align-content: bottom;
        text-align: center;
    }
    .card_produit .card-content .img img {
        max-width: 100%;
        max-height: 100%;
        margin-top: 50px!important;
    }
    .card_produit .card-description {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.1em;
        /* width: calc(100%-20px); */
    }
    
    .card_produit .card-description .cart {
        float: right;
        cursor: pointer;
    }
    .card_produit .card-footer {
        text-transform: uppercase;
        padding: 0.3em;
        border-top: 0.5px solid #ececec;
        letter-spacing: 0.1em;
        font-size: 11px;
        color: white;
        justify-items: left;
        align-items: center;
        display: flex;
    }
    .card_produit .card-footer .span {
        margin: 5px;
        width: auto;
        background: #dedede;
        padding: 4px 7px;
        border-radius: 2px;
        font-weight: 100;
        cursor: pointer;
    }
    .card_produit .card-footer .span:hover {
        /* background: #aaa; */
    }
    .card_produit:hover {
        transition: 0.2s ease-in;
        transform: translateY(-10px);
        /* box-shadow: 0px 45px 60px 0px rgba(0, 0, 0, 0.087); */
    } 
</style>
{% endblock %}

